.gradle/
.idea/
build/
*.iml
android/build/
android/release/
android/src/main/jniLibs
core/build/
/gradle.properties
ios-moe/build/
ios-moe/out/
ios-moe/xcode/native/
local.properties
website/build/
/.nb-gradle/
moe.remotebuild.properties