.gradle/
.idea/
build/
*.iml
android/build/
android/src/main/jniLibs/
core/build/
/gradle.properties
ios-moe/build/
ios-moe/out/
ios-moe/xcode/native/
ios-moe/xcode/ios-moe/custom.xcconfig
local.properties
/.nb-gradle/
moe.remotebuild.properties